---
import { Icon } from "astro-icon";
---

<section class="box skills">

	<div class=""></div>

  <div class="stack gap-2 lg:gap-4">
    <Icon
      name="ic:baseline-construction"
      size="3em"
      color="var(--accent-regular)"
    />
    <h2>Opa... Temos um visitante!</h2>
    <p>
      Desculpa mesmo, mas eu ainda não terminei o meu nome site. Mas você já
      pode explorar algumas coisas
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <h2><a href="/generative-art">Generative art</a></h2>
    <h2><a href="/projects">Projects</a></h2>
  </div>
</section>

<style>

  .box {
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    padding: 48px;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }
</style>
