---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Clockwise | Pixelmancer" description="I want to find out">
  <canvas id="canvas"></canvas>
  <h1 id="umbrella"></h1>
  <script type="module" src="/js/generative-art/clockwise.js"></script>
</BaseLayout>