---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Lissajous | Pixelmancer" description="I want to find out">
  <main>
    
  </main>
  <script type="module" src="../src/scripts/generative-art/lissajous.js"
  ></script>
</BaseLayout>
