---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Music Visualizer | Pixelmancer"
  description="I want to find out"
>
<h1>Bem vindo! Escolha qualquer formato de áudio e provavelmente vai funcionar...</h1>
  <canvas></canvas>

  <div class="audioContainer">
    <audio id="audio" controls></audio>
    <input type="file" id='file' accept="audio/*">
    </div>

    <script type="module" src="../src/scripts/generative-art/music.js"
    ></script>
</BaseLayout>